.example-card {
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
}
  #card {
      justify-content: center ! important;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  mat-spinner{
    margin:0 auto;
   margin-top: 35vh
}