<div class="row wrapper">

  <div class="container-fluid ">
    <form class="form-signin">
      <img width="72" height="72" class="mb-4" alt="" src="/docs/4.2/assets/brand/bootstrap-solid.svg">
      <h2 class="mb-3 font-weight-normal">Login</h2>
      <label class="sr-only" for="inputEmail">Email address</label>
      <input class="form-control" id="inputEmail" autofocus="" required="" type="email" placeholder="Email address" [(ngModel)]=mail name="b">
      <label class="sr-only" for="inputPassword">Password</label>
      <input class="form-control" id="inputPassword" required="" type="password" placeholder="Password" [(ngModel)]=pass name="a">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-info btn-block" type="submit" (click)=SignIn()>Log in</button>
      <button class="btn btn-lg btn-info btn-block" type="submit" routerLink="/auth/register">Register</button>

    </form>
  </div>
  <div class="media  w-100 media row" style="justify-content: center;">
    <ul class="connect-with-buttons">
      <a (click)=glog()><li id="gplus"><i class="fab fa-google-plus-square"></i></li></a>
      <a (click)=FBlog()><li id="fb"><i class="fab fa-facebook-square"></i></li></a>
    </ul>
  </div>
</div>