<div *ngIf="article">
    <div *ngFor="let i of article.articles;" id="card">
      <mat-card class="example-card">
    
        <mat-card-content>
          <h4 (click)="openDialog(i)">{{i.title}}</h4>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="openDialog(i)">Read This</button>
        </mat-card-actions>
        
      </mat-card>
    </div>
  </div>
  <div *ngIf="!article" id="wait" >
    <mat-spinner mode="indeterminate" ></mat-spinner>
  </div>