<div *ngIf="article">
  <div *ngFor="let i of article.articles;" id="card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{i.source.name}}</mat-card-title>
        <mat-card-subtitle>{{i.publishedAt}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{i.urlToImage}}">
      <mat-card-content>
        <h4>{{i.description}}</h4>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="DeleteArt(i)" mat-raised-button color="warn"> Delete this </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div *ngIf="!article" id="wait">
  <mat-spinner></mat-spinner>
</div>