

    <div class="row" style="margin-left: 17%;margin-top:60px" *ngIf='!Affich()'>
      <div  *ngFor="let i of article.articles;" class=" container col-md-7 " style="background-color: #f0fff08c">
        <h4>{{i.source.name}}</h4>
      <h3>{{i.author}}</h3>
        <img class="card-img-top" src="{{i.urlToImage}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{i.title}}</h4>
          <p class="card-text">{{i.description}}</p>
          <button class="btn btn-primary" (click)="show = !show">Read More &rarr;{{show ? 'hide' :''}}</button>

          <div *ngIf="show">
          <p >{{i.content}}</p>
        </div> 
        <button class="btn btn-primary " (click)="addArticle(i)" style="margin-left : 50%">Save This</button>
        <button *ngIf=DeleteB class="btn btn-danger " (click)="DeleteArt(i)" style="margin-left : 50%">Delete this</button>
        </div>
        <div class="card-footer text-muted">
          Posted on :{{i.publishedAt}}
        </div>
      </div>
    </div>


