<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <div class="class1">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Dashboard</h1>
      <div>

      </div>
      <div class="class2">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="icon right">
          <img [src]=userImg class="icon right">
        </button>
        <mat-menu #menu="matMenu" class="right">
          <button mat-menu-item (click)=logOut()>
            <span>
              <mat-icon>logout</mat-icon> Logout
            </span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list [routerLink]="[ '/dashboard/mynews']">
        <button mat-button class="button">
          <mat-icon>assignment</mat-icon> Saved News
        </button>
      </mat-nav-list>
      <mat-nav-list [routerLink]="[ '/dashboard/home']">
        <button mat-button class="button">
          <mat-icon>home</mat-icon> Home
        </button>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list [routerLink]="[ '/dashboard/buss']">
        <button mat-button class="button">
          <mat-icon>monetization_on</mat-icon> Business
        </button>
      </mat-nav-list>
      <mat-nav-list [routerLink]="[ '/dashboard/health']">
        <button mat-button class="button">
          <mat-icon>favorite</mat-icon> Health
        </button>
      </mat-nav-list>
      <mat-nav-list>
        <button mat-button [routerLink]="[ '/dashboard/sport']" class="button">
          <mat-icon>directions_bike</mat-icon> Sports
        </button>
      </mat-nav-list>
      <mat-nav-list [routerLink]="[ '/dashboard/science']">
        <button mat-button class="button">
          <mat-icon>timeline</mat-icon> Science
        </button>
      </mat-nav-list>
      <mat-nav-list [routerLink]="[ '/dashboard/tech']">
        <button mat-button class="button">
          <mat-icon>tap_and_play</mat-icon> Technology
        </button>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <form class="filter-input">
          <input class="form-control mr-sm-2" style="height: 45px;" name="query" type="search" placeholder="Search"
            aria-label="Search" [(ngModel)]=query (ngModelChange)=Search() (keydown.enter)=Search()>
          
          <button class="filter-drop-down-button btn btn-outline-primary dropdown-toggle" (click)="show = !show"></button>
          <button id="voice" type="button" class="btn" [disabled]="service.started$ | async"
          (click)="listen()"><mat-icon>keyboard_voice</mat-icon></button>
        </form>
        <div class="test" *ngIf="show">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="From">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              
              <mat-form-field>
                  <input matInput [matDatepicker]="picker1" placeholder="To">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Sort By" [(ngModel)]="sortby" name="sort">
              <mat-option value="publishedAt">Published At</mat-option>
              <mat-option value="relevancy">Relevancy</mat-option>
              <mat-option value="popularity">Popularity</mat-option>
            </mat-select>
          </mat-form-field> 
          <mat-form-field>
            <mat-select placeholder="Languages" [(ngModel)]="lang" name="langu">
              <mat-option *ngFor="let i of EverLanguages" value="{{i.i}}">{{i.c}}</mat-option>
            </mat-select>
          </mat-form-field> 
        </div>

      </mat-nav-list>

    </mat-sidenav>

    <router-outlet></router-outlet>

  </mat-sidenav-container>

</div>
