.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer{
  justify-content: center;
}
#voice{
  width :auto;
  color: #fff;
  box-shadow: none !important;
  border-color: #fff;
  width: 20%;
  justify-content: center;
  margin-right: 5px ;
}
#voice:hover{
  background-color: #fff;
  border-color: #fff ;
  color:  #3F51B5 ;
}

#voice:active{
  background-color: #fff !important;
  border: #fff !important ;
}
#voice:focus{
  box-shadow: none !important;
}
.mat-paginator{
  background: #ffffff00 ;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.button{
  width: 100%;
  text-align: start ;
}
h1.example-app-name {
  margin-left: 8px;
  margin-top: 4px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.icon{
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.class1{
  width: 100%;
  display: flex;
}
.class2{
  margin-left: auto;
}

.filter-input{
  display: flex ;
  width: 280px ;
  margin-left: 5px ;
}

.filter-drop-down-button{
  margin-right: 5px;
  color: #fff;
  border-color: #fff;
}

.filter-drop-down-button:hover{
  background-color: #fff;
  border-color: #fff ;
  color: #3F51B5 ;
}

.filter-drop-down-button:active{
  background-color: #fff !important;
  border: #fff !important ;
}
.filter-drop-down-button:focus{
  box-shadow: none !important;
}

.dropdown-item{
  margin-bottom: 2px ;
  color: #fff ;
  text-align: center ;
}

.dropdown-item input {
  border-radius: 8px ;
}

.dropdown-item:hover{
  background-color: transparent ;
}

.dropdown-menu{
  background-color: transparent ;
  border: solid 1px #fff ;
  margin-top: 10px ;
}


.test{
  display: flex ;
  flex-direction: column ;
  width: 250px ;
  margin-left: 20px ;
  margin-top: 10px ;
  border: solid 1px white ;
  border-radius: 8px ;
  padding: 10px ;
}

