<div class="container" >
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarTogglerDemo01" >
      <a class="navbar-brand" style="font-family: fantasy;">Latest News</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search"[(ngModel)]=query>
        <div class="btn-group">
          <button type="button" class="btn btn-success"(click)=Search()>Search</button>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <div class="dropdown-item">
            from:<input type="date" [(ngModel)]=fromDate name="datefrom"> 
            </div>
            <div class="dropdown-item">
              To:<input type="date" [(ngModel)]=toDate name="datetoo"> 
              </div>
              <div class="dropdown-item">
              <select [(ngModel)]="sortby" name="sort">
                <option value="publishedAt">Published At</option>
                <option value="relevancy">Relevancy</option>
                <option value="popularity">Popularity</option>
              </select>
              </div>
              <div class="dropdown-item">
              <select [(ngModel)]="lang" name="langu">
                <option *ngFor="let i of EverLanguages" value="{{i.i}}" [selected]='i.i=="en"'>{{i.c}}</option>
              </select>
              </div>
          </div>
        </div>
      </form>
  
      <ul class="navbar-nav ml-auto ml-md-0" >
        <li class="nav-item dropdown no-arrow mx-1">
          <a  class="nav-link" ><img [src]=UserData.photoURL alt="" style="width:23px;height:23px">
          </a>
          <div class="dropdown">
              <div class="dropdown-content">
                <a (click)=logOut()>Logout</a>
                <a href="#">My Space</a>
              </div>
            </div>
        </li>        
      </ul>
    </div>
   
   
   </nav>
  </div>
   
   <!-- Sidebar -->
   <div>
  <ul class=" sidebar navbar-nav" style="position:fixed">
    <li class="nav-item ">
      <a class="nav-link">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
  
    <li class="nav-item" (click)='LocalNews()'>
        <a class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Home</span></a>
    
    </li>
  
    <li class="nav-item">
        <a class="nav-link">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Streaming</span></a>
    
    </li>
    <li class="nav-item" (click)=MyNews()>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>My news</span></a>
        <hr class="hr-success" style="background-color: black">
  
    </li>
  
  
    <li class="nav-item" (click)='THL("business",1)'>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>business</span></a>
    </li>
    <li class="nav-item" (click)='THL("entertainment",1)'>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>entertainment</span></a>
    </li>
    <li class="nav-item" (click)='THL("health",1)'>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>health</span></a>
    </li>
    <li class="nav-item" (click)='THL("science",1)'>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>science</span></a>
    </li>
    <li class="nav-item"(click)='THL("sports",1)'>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>sports</span></a>
    </li>
    <li class="nav-item" (click)='THL("technology",1)'>
      <a class="nav-link">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>technology</span></a>
    </li>
  
   
  </ul>
  
  </div>
   
 <router-outlet></router-outlet>
  
  
  
  
  
  
  
  
  